<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="pageSize" value="4" />
  <add key="pageSizeAjax" value="5" />
  <add key="maxPage" value="5" />

  <!--Custom email-->
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="ttgshop1996@gmail.com"/>
  <add key="FromEmailPassword" value="Binhtruongan1996"/>
  <add key="FromName" value="TTGShop"/>
  <add key="AdminEmail" value="ttgshop1996@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:59721/"/>
  <!--Setting Ngan Luong payment-->
  <add key="MerchantId" value="56832"/>
  <add key="MerchantPassword" value="37ab12f5278f57280b1789ca473b1730"/>
  <add key="MerchantEmail" value="ttgshop1996@gmail.com"/>
  <add key="ReportFolder" value="/Reports"/>



  <add key="owin:appStartup" value="uStora.Web.App_Start.Startup" />
</appSettings>