<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Chỉnh sửa danh mục: {{tagCategory.Name}}
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="products">Sản phẩm</a></li>
        <li><a ui-sref="tag_categories">Danh mục tags</a></li>
        <li class="active">Chỉnh sửa</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{tagCategory.Name}}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmUpdateTagCategory" role="form" ng-submit="UpdateTagCategory()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên danh mục</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required name="name"  ng-model="productCategory.Name" placeholder="tên danh mục">
                        <span ng-show="frmUpdateTagCategory.name.$invalid" class="invalid">Phải nhập tên danh mục.</span>
                        <span ng-show="frmUpdateTagCategory.name.$error.maxlength" class="invalid">Chỉ nhập tối đa 256 ký tự.</span>
                    </div>
                </div>
       
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="tag_categories" class="btn btn-default">Hủy</button>
                <button type="submit" ng-disabled="frmUpdateTagCategory.$invalid" class="btn btn-info">Lưu lại</button>
            </div>
            <!-- /.box-footer -->
        </form>
        
    </div>
    <!-- /.box -->
</section><!-- /.content -->
